* {
	box-sizing: border-box;
}

#navbar {
	list-style-type: none;
}

#logo {
	font-size: 2em;
}

.container {
	margin: 1em;
	border: 1px solid black;
	position: relative;
}

#sidebar {
	padding: 1em;
	width: 25%;
	height: 100%;
	position: absolute;
	float: left;
	background-color: #99abc9;
}

#main {
	width: 75%;
	float: right;
	padding-left: 1em;
	border-left: 1px solid black;
}

.clearFix {
    clear: both;
}