* {
	box-sizing: border-box;
}


#navbar {
	list-style:none;
    padding-left:0;
}

#logo {
	font-size: 2em;
	border-bottom: 1px solid black;
	padding-bottom: 1em;
}

.container {
	margin: 1em;
	border: 1px solid black;
	position: relative;
}

#sidebar {
	padding: 1em;
	width: 25%;
	height: 100%;
	position: absolute;
	float: left;
	background-color: #a9cce8;
}

#sidebar a {
	text-decoration: none;
	color: black;
}

#sidebar li {
	padding-bottom: 1em;
}

#sidebar a:hover {
	color: grey;
}


#main {
	width: 75%;
	float: right;
	padding-left: 1em;
	border-left: 1px solid black;
}

.center-text {
	text-align: center;
}

.clear-fix {
    clear: both;
}